// Basic colors

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// Theme

$primary: var(--primary);
$primary-container: var(--primary-container);

$secondary: var(--secondary);
$secondary-container: var(--secondary-container);

$error: var(--error);
$error-container: var(--error-container);

$surface: var(--surface);
$surface-container: var(--surface-container);

$neutral: var(--neutral);

$text-main: var(--text-main);
$text-sub: var(--text-sub);
$text-out: var(--text-out);

// Actual themes

[theme="theme-light"] {
  --primary: #6f5b40;;
  --primary-container: #fadebc;

  --secondary: #506440;
  --secondary-container: #d3eabc;

  --error: #ba1a1a;
  --error-container: #ffdad6;

  --surface: #fff8f4;
  --surface-container: #f8ecdf;

  --neutral: #94908E;

  --text-main: #211a13;
  --text-sub: #372f27;
  --text-out: #817567;
}

[theme="theme-dark"] {
  --primary: #ddc2a1;
  --primary-container: #56442a;

  --secondary: #b7cea2;
  --secondary-container: #394c2b;

  --error: #ffb4ab;
  --error-container: #93000a;

  --surface: #18120c;
  --surface-container: #251e17;

  --neutral: #94908E;

  --text-main: #eee0d5;
  --text-sub: #eee0d5;
  --text-out: #9b8f80;
}
