.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;

  flex: 0 0 100%;
  max-width: none;

  fe-content {
    margin: 8px 16px;
  }

  &.logged {
    max-width: 1600px;
  }
}
